@import "tailwindcss";
@plugin "./hero.ts";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

@theme {
	/* Fuente para el cuerpo general */
	--font-sans:
		"DM Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	/* Fuente para logos y branding */
	--font-logo: "Poppins", ui-sans-serif, system-ui, sans-serif;

	/* Fuente para títulos */
	--font-heading: "Nunito", ui-sans-serif, system-ui, sans-serif;

	/* Fuente para navegación */
	--font-nav: "IBM Plex Sans", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
	@apply bg-background;
	font-family: var(--font-sans);

	@media (prefers-color-scheme: dark) {
		color-scheme: dark;
	}
}
